#wizard {
    border-radius: 6px;
    position:relative;

    /* rounded corners for modern browsers */
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
}

#progress {
    margin: 0 !important;
    padding: 0 !important;
    border-bottom: 1px solid #ECEDF0;
}

#progress ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

#progress li {
    font-size: 90%;
    list-style-type: none;
    list-style-image: none;
    float: left;
    color: #ACAEB0;
    padding: 10px 0;
    text-align: center;
    white-space: nowrap;
}

@media (max-width: 767px) {
    #progress li {
        font-size: 90%;
    }

    #progress li span {
        margin: 0 auto;
        display: block;
    }
}

#progress li span {
    background: #ECEDF0;
    color: #ACAEB0;
    border-radius: 1em;
    display: inline-block;
    width: 1.6em;
    height: 1.6em;
    line-height: 1.6em;
    text-align: center;
    margin-right: 0.5em;
}

@media (max-width: 767px) {
    #progress li span {
        margin: 0 auto;
        display: block;
    }
}

#progress li.completed {
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.8);
    color: #666666; /* #4cae4c; */
}

#progress li.completed span {
    background: #666666; /* #4cae4c; */
    color: #fff;
    font-weight: bold;
}

/* single donation carousel item */
#wizard .item {
    padding: 20px 20px; /* 200px 20px; */
}

#wizard img {
    padding: 0;
    width: initial;
}

@media (max-width: 767px) {
    #wizard .item {
        padding: 20px 0 0 0;
    }
}

#wizard .page li {
    color: black;
}

/* title */
#wizard h2 {
    border-bottom:1px dotted #ccc;
}


/* input fields */
#wizard ul#amounts {
    padding: 0px;
    margin: 0px !important;
}

#wizard ul#amounts li {
    list-style-type: none;
    list-style-image: none;
    margin-bottom: 20px;
    margin-right: 0;
}

#wizard input.text {
    color: #456;
    outline: 0;
    margin: 0;
}

#wizard label {
    line-height: 1.42857143;
}

#wizard .btn-link {
    color: #337ab7;
}

#wizard a.button-link {
    text-decoration: none !important;
}

#wizard input[type=radio], #wizard input[type=checkbox]
{
    width: auto;
    font-size: smaller;
}

#wizard .scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}

#wizard .error {
    border:1px solid red;
}

ul#amounts li {
    display: block;
    vertical-align: middle;
    white-space: nowrap;
}

@media (max-width: 767px) {
    ul#amounts li {
        font-size: smaller;
    }
}

ul#amounts input {
    display: none;
}

#wizard button.unconfirm {
    text-transform: none;
    padding: 12px 0;
}

#wizard button.unconfirm:before {
    content: "« ";
}

#wizard div.buttons {
    padding-top: 1em;
}

#wizard div.no-padding-left {
    padding-left: 0;
}

div#payment-method-providers label {
    margin-left: 0;
    margin-right: 10px;
    margin-bottom: 5px !important; /* theme compatibility hack */
}

div#payment-method-providers label:last-child {
    margin-right: 0;
}

div#payment-method-providers input[type=radio] {
    margin-bottom: 0;
}

div#amount-item span.form-control-feedback {
    line-height: 46px;
}

#wizard div.required label {
    color: black;
}

/*div.required label:after {
    content: ' *';
}*/

#wizard span.glyphicon-overlay {
    font-size: 6px;
    color: white;
    position: relative;
    left: -11px;
    top: -1px; 
    margin-right: -6px;
}

#wizard div.tax-confirmation {
    font-size: 12px;
    padding-bottom: 25px;
}

#wizard span.payment-method-name {
    text-transform: capitalize;
}

#wizard div.float-left {
    float: left;
}

#wizard .glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}

#wizard .dropdown-menu {
    position: absolute;
    left: auto;
    margin: 2px 0 0;
}

#wizard div#donor-extra-info .dropdown-menu,
#wizard div.donor-info .dropdown-menu {
    max-height: 132px;
    overflow-y: auto;
}

input#donor-country-auto {
    width: 100%;
}

#wizard .dropdown-menu>li {
    font-size: 14px !important;
    line-height: 1.42857143;
    margin-bottom: 0;
    list-style-type: none;
}

#wizard .dropdown-menu>li>label {
    text-decoration: none;
    padding: 8px 13px;
    color: #333;
    font-weight: normal;
    width: 100%;
    cursor: pointer;
    margin-bottom: 0;
}

#wizard .dropdown-menu>li>label img {
    margin-right: 5px;
}

#wizard .clickable {
    cursor: pointer;
}

#email-confirm-group {
    display: none;
}

#donation-currency div {
    margin: 5px 0 10px 0;
}

#donation-currency img.flag {
    vertical-align: baseline;
    margin-right: 2px;
}

#wizard .dropdown-menu>li>:focus, #wizard .dropdown-menu>li>:hover {
    color: #262626;
    text-decoration: none;
    background-color: #f5f5f5;
}

#wizard div.payment-info {
    padding: 7px 0 10px 15px;
}

#wizard div.payment-info img {
    margin-top: -2px;
}

div#donation-confirmation div.alert {
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
}

div#donation-confirmation div.response-icon {
    padding-bottom: 15px;
    margin: auto;
    line-height: 1.1;
}

div#payment-method-item span.form-control-feedback {
    margin-right: 15px;
}

#wizard .donor-info > div {
    text-align: left;
}

#wizard .hidden {
    display: none
}

#wizard div.flexible {
    display: flex;
}

div#donor-extra-info {
    display: none;
}

div#secure-transaction p {
    text-align: center;
    margin-top: 12px;
    color: #999;
    text-transform: uppercase;
    font-size: 14px;
}

@media (max-width: 767px) {
    div#secure-transaction p {
        right: 0px;
        text-align: right;
    }
}

#wizard div.combobox-container input {
    margin-bottom: 0 !important;
    border-radius: 0;
    border-top-left-radius: 4px !important;
    border-bottom-left-radius: 4px !important;
}

#wizard .dropdown-menu>li>a, #wizard .dropdown-menu>li>a:hover{
    text-decoration: none !important;
} 

div#amount-item .form-control::-webkit-input-placeholder { color: white; font-weight: 100 }
div#amount-item .form-control:-moz-placeholder { color: white; font-weight: 100 }
div#amount-item .form-control::-moz-placeholder { color: white; font-weight: 100 }
div#amount-item .form-control:-ms-input-placeholder { color: white; font-weight: 100 }


ul#frequency {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

ul#frequency {
    padding:0px;
    margin:0px !important;
}

ul#frequency li {
    display: inline;
    list-style-type:none;
    list-style-image:none;
    margin-bottom: 20px !important; /* theme compatibility hack */
    font-size: 18px;
}

@media (max-width: 767px) {
    ul#frequency li {
        font-size: small;
    }
}

ul#frequency input {
    display: none;
}

ul#frequency label {
    text-transform: uppercase;
    cursor: pointer;
    background: none;
    border: none;
    color: #999;
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 5px !important; /* theme compatibility hack */
    padding: 0;
    outline: 0;
}

ul#frequency li:not(:last-child) {
    margin-right: 20px;
}

div.eas-popup-modal .modal-body {
    text-align: center;
    padding: 40px 20px;
}

div.eas-popup-modal .modal-body p {
    text-align: left;
    font-size: initial;
}

div.eas-iframe-modal .modal-body {
    /*background: url(../images/loader.gif) center center no-repeat;*/
    height: 600px;
}

div.eas-modal .modal-body iframe {
    border: 0;
    width: 100%;
    height: 100%;
}

.has-error button, .has-error input[type=text] {
    border-color: #a94442;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}

/* validation error message bar */
#drawer {
    color: #a94442;
    background-color: #fff;
    overflow:visible;
    position:fixed;
    left:0;
    top:0;
    text-align:center;
    padding:15px;
    font-size:18px;
    border-bottom:2px solid #a94442;
    width:100%;
    display:none;
    z-index:1031;
}

.btstrp .close {
    float: right;
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: .2;
}

.btstrp button.close {
    -webkit-appearance: none;
    padding: 0;
    cursor: pointer;
    background: 0 0;
    border: 0;
}
