/* scrollable root element */

#wizard {
    border-radius: 4px;
    position:relative;

    /* rounded corners for modern browsers */
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
}

/* single donation carousel item */
#wizard .item {
    padding: 20px 20px;
}

@media (max-width: 767px) {
    #wizard {
        margin-left: -45px;
        margin-right: -30px;
    }

    /*#wizard .col-xs-4 {
        padding-left: 7px;
        padding-right: 7px;
    }*/
}

#wizard .page li {
    color: black;
}

/* title */
#wizard h2 {
    text-align: center;
    text-transform: uppercase;
    border-bottom:1px dotted #ccc;
    font-weight:normal;
    margin: 20px 0 0 0;
    padding-bottom:15px;
}

#wizard h3 {
    margin-top: 0.25em;
}


/* input fields */
#wizard ul {
    padding:0px;
    margin:0px !important;
}

#wizard ul#amounts li {
    list-style-type:none;
    list-style-image:none;
    margin-bottom:20px;
}

#wizard input.text {
    color:#456;
    letter-spacing:1px;
    outline: 0;
}

/* validation error message bar */
#drawer {
    /*background:#fff url(/media/img/gradient/h80.png) repeat-x scroll 0 0;*/
    _background-color:#fff;
    overflow:visible;
    position:fixed;
    left:0;
    top:0;
    text-align:center;
    padding:15px;
    font-size:18px;
    border-bottom:2px solid #789;
    width:100%;
    display:none;
    z-index:1031;
}

#wizard .error {
    border:1px solid red;
}

#wizard #status {
    margin:0px !important;
    padding: 0 20px !important;
    border-bottom: 1px solid #ECEDF0;
}

#status ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

#status li {
    font-size: 70%;
    list-style-type: none;
    list-style-image: none;
    float: left;
    color: #ACAEB0;
    padding: 10px 0;
    text-align: center;
    white-space: nowrap;
}

@media (max-width: 767px) {
    #status li {
        font-size: 90%;
    }

    #status li span {
        margin: 0 auto;
        display: block;
    }
}

#status li span {
    background: #ECEDF0;
    color: #ACAEB0;
    border-radius: 1em;
    display: inline-block;
    width: 1.6em;
    height: 1.6em;
    line-height: 1.6em;
    text-align: center;
    margin-right: 0.5em;
}

@media (max-width: 767px) {
    #status li span {
        margin: 0 auto;
        display: block;
    }
}

#status li.active span {
    background: #666666;
    color: #fff;
    font-weight: bold;
}

#status li.active {
    /*color:#fff;
    background-color:#0078C1;
    font-weight:normal;*/
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.8);
    color: #666666;
}



ul#amounts li {
    display: block;
    vertical-align: middle;
    white-space: nowrap;
}

@media (max-width: 767px) {
    ul#amounts li {
        font-size: smaller;
    }
}

ul#amounts input {
    display: none;
}

ul#amounts input[type=text] {
    display: block;
    height: 46px;
    font-size: inherit;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    backface-visibility: hidden;
    border: 1px solid #08b;
    background: #0078C1;
    background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0.1,rgba(0,0,0,.1)),color-stop(1,rgba(255,255,255,.2)));
    box-shadow: inset 0 1px 1px 0 rgba(255,255,255,.4),0 1px 0 1px #003246;
    backface-visibility: hidden;
    /*font-family: 'Gotham SSm 4r','Gotham SSm A','Gotham SSm B',"Helvetica Neue",Helvetica,Segoe,"Segoe UI","Segoe WP",Calibri,Arial,clean,sans-serif;*/
    font-weight: 700;
    padding: 5px 15px;
    font-size: 100%;
    color: #fff;
    outline: 0;
    -webkit-transition: background-color .15s linear,box-shadow .15s linear;
    -moz-transition: background-color .15s linear,box-shadow .15s linear;
    transition: background-color .15s linear,box-shadow .15s linear;
}

ul#amounts input[type=text].active {
    background: #5cb85c;
    box-shadow: inset 0 1px 1px 0 rgba(0,0,0,.3);
    color: #fff;
    border: 1px solid #fff;
}

@media (max-width: 767px) {
    ul#amounts input[type=text] {
        height: 38px;
    }
}

ul#amounts label:hover {
    box-shadow: inset 0 1px 1px 1px #1297c9,0 1px 1px 1px #083f54;
    -webkit-transition: background .1s linear;
    -moz-transition: background .1s linear;
    transition: background .1s linear;
    background: #1297c9;
    color: #fff;
    border: 1px solid #1190c0;
}

ul#amounts label {
    background: #0078C1;
    background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0.1,rgba(0,0,0,.1)),color-stop(1,rgba(255,255,255,.2)));
    border: 1px solid #08b;
    border-radius: 3px;
    box-shadow: inset 0 1px 1px 0 rgba(255,255,255,.4),0 1px 1px 1px #003246;
    backface-visibility: hidden;
    display: block;
    padding: 5px 5px;
    font-weight: 700;
    text-align: center;
    color: #fff;
    margin: 1px 0 0 3px;
    cursor: pointer;
    outline: 0;
    -webkit-transition: background-color .15s linear,box-shadow .15s linear;
    -moz-transition: background-color .15s linear,box-shadow .15s linear;
    transition: background-color .15s linear,box-shadow .15s linear;
}

ul#amounts span.input-group-addon {
    background: #0078C1;
    background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0.1,rgba(0,0,0,.1)),color-stop(1,rgba(255,255,255,.2)));
    box-shadow: inset 0 1px 1px 0 rgba(255,255,255,.4),0 1px 0 1px #003246;
    backface-visibility: hidden;
    cursor: pointer;
    font-weight: 700;
    padding: 5px 16px;
    font-size: 100%;
    color: #fff;
    outline: 0;
    border: 1px solid #08b;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    -webkit-transition: background-color .15s linear,box-shadow .15s linear;
    -moz-transition: background-color .15s linear,box-shadow .15s linear;
    transition: background-color .15s linear,box-shadow .15s linear;
}

ul#amounts span.input-group-addon.active {
    background: #5cb85c;
    box-shadow: inset 0 1px 1px 0 rgba(0,0,0,.3);
    color: #fff;
    border: 1px solid #fff;
}

ul#amounts label.active {
    background: #5cb85c;
    box-shadow: inset 0 1px 2px 1px rgba(0,0,0,.3);
    color: #fff;
    border: 1px solid #fff;
}

button.confirm {
    width: 100%;
    text-transform: none;
    letter-spacing: 1px;
}

button.unconfirm {
    text-transform: none;
    padding: 12px 0;
}

div.buttons {
    padding-top: 1em;
}

div.no-padding-left {
    padding-left: 0;
}

div#payment-method-item input[type=radio] {
    /* margin-top: 0.3em; */
    width: auto;
}

div#payment-method-item div#directdebit-details {
    display: none;
    margin: 10px 0 0 22px;
    padding: 18px 20px 15px 20px;
    font-size: 12px;
    background-color: lightgray;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
}

div#payment-method-item div.radio div label {
    padding-left: 0;
}

div#amount-item span.form-control-feedback {
    line-height: 45px;
}

@media (max-width: 767px) {
    div#amount-item span.form-control-feedback {
        line-height: 38px;
    }
}

div.required label {
    color: black;
}

div.tax-confirmation {
    font-size: 12px;
    padding-bottom: 25px;
}

div.float-left {
    float: left;
}

.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}

#wizard .dropdown-menu>li {
    font-size: 14px !important;
    line-height: 1.42857143;
    margin-bottom: 0;
}

#wizard .dropdown-menu>li>a {
    text-decoration: none;
    padding: 3px 13px;
    color: #333;
}

#donation-currency div {
    margin: 5px 0 25px 0;
}

#donation-currency img.flag {
    vertical-align: baseline;
    margin-right: 2px;
}

#donation-currency .dropdown-menu>li>a:focus, #donation-currency .dropdown-menu>li>a:hover {
    color: #262626;
    text-decoration: none;
    background-color: #f5f5f5;
}

div#payment-method-item div.required {
    padding-left: 15px;
}

div#donation-confirmation div.response-icon {
    width: 25px;
}

div#donation-confirmation div.response-text {
    padding-left: 10px;
}

div.donor-info {
    padding: 38px 15px 0 25px;
}

div#payment-method-item input[type=radio] {
    margin-top: 4px;
}

div#payment-method-item span.form-control-feedback {
    margin-right: 15px;
}

div#payment-method-item .radio {
    min-height: 15px;
}

div#payment-method-item .radio label {
    margin-right: 10px;
    margin-bottom: 5px;
}

div#payment-method-item .radio label:last-child {
    margin-right: 0px;
}

.hidden {
    display: none
}

div#amount-item .form-control::-webkit-input-placeholder { color: white; font-weight: 100 }
div#amount-item .form-control:-moz-placeholder { color: white; font-weight: 100 }
div#amount-item .form-control::-moz-placeholder { color: white; font-weight: 100 }
div#amount-item .form-control:-ms-input-placeholder { color: white; font-weight: 100 }
