<?php
defined( 'ABSPATH' ) or die( 'No script kiddies please!' );

$sandboxMode = true; // Set to false on live system

/**
 * Contact
 */
$contactEmail = '';
$contactName  = '';

/**
 * Stripe
 * 
 * See your keys here https://dashboard.stripe.com/account/apikeys
 */
$stripeLiveSecretKey    = '';
$stripeLivePublicKey    = '';
$stripeSandboxSecretKey = '';
$stripeSandboxPublicKey = '';

/**
 * Paypal
 *
 * See your profile here
 *     Sandbox: https://developer.paypal.com/developer/accounts > Profile > API Credentials
 *     Live: https://www.paypal.com/businessprofile/mytools/apiaccess > Request API credentials
 */
$paypalSandboxEmailId       = 'donate-facilitator@gbs-schweiz.org';
$paypalSandboxApiUsername   = 'donate-facilitator_api1.gbs-schweiz.org';
$paypalSandboxApiPassword   = 'W69PN2HDHDDNAUU7';
$paypalSandboxApiSignature  = 'Ak32BHgZABliino4sbEsoaecOdI3AfQHk43IdURZUpGTKMpf5hVsodMn';
$paypalLiveEmailId          = '';
$paypalLiveApiUsername      = '';
$paypalLiveApiPassword      = '';
$paypalLiveApiSignature     = '';
